
[run]
source = .
omit =
    */tests/*
    */__pycache__/*
    */migrations/*
    */venv/*
    */.local/*
    setup.py
    */site-packages/*
    */temp_nevin/*
    */static/*
    */templates/*
    */translations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
