
language = "nodejs"
run = "cd temp_nevin && npx expo start --web --port=8083"
modules = ["nodejs-20", "python-3.11", "python3"]

[deployment]
run = ["sh", "-c", "./start_production.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 19006
externalPort = 3000

[[ports]]
localPort = 19007
externalPort = 3002

[[ports]]
localPort = 35629
externalPort = 5000

[nix]
channel = "stable-24_05"
packages = ["bash", "cacert", "cargo", "freetype", "gitFull", "glibcLocales", "grpc", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "libyaml", "mupdf", "openjpeg", "openssl", "pkg-config", "postgresql", "rustc", "swig", "tcl", "tk", "which", "xcbuild", "xcodebuild", "xsimd", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Expo Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd temp_nevin && npm run prod:web"
waitForPort = 8083

[[workflows.workflow]]
name = "Flask App"
author = 36525909
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[agent]
integrations = ["perplexity_v0:1.0.0", "python_anthropic:1.0.0"]
